<form method="post" class="d-inline-block" action="{{ path('app_panelist_delete', {'id': panelist.id}) }}" onsubmit="return confirm('Are you sure you want to delete this panelist?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ panelist.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
